{section body}
<pre>
{dump intVar}
</pre>
intVar equals @intVar and stringVar equals @stringVar
square root of intVar equals @square(intVar)
{if intVar>4}
  intVal is greater than 4
{else}
  intVal is not greater than 4
{/if}
{if list.isEmpty}
  sorry, your list is empty
{else}
  <ul>
  {for my in list}
    <li>@my.something</li>
  {/for}
  </ul>
{/if}
<pre>
{dump}
</pre>
{/section}
